.btn {
  border: none;
  font-size: 8px;
  margin-right: 2px;
  border-radius: 2px;
  padding: 5px;
  box-sizing: border-box;
}
.btn:last-child {
  margin-right: 0;
}
.btn_primary {
  border: 0.8px solid #bee3d9;
  background-color: #bee3d9;
  color: #fff;
}
.btn_primary:hover {
  background-color: rgb(183, 217, 207);
}
.btn_warning {
  border: 0.8px solid #bee3d9;
  background-color: #fff;
  color: #bee3d9;
}
.btn_warning:hover {
  border: none;
  background-color: rgb(183, 217, 207);
  color: #fff;
}
