.header {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  border-bottom: 1px solid #bee3d9;
}
.nav-button {
  color: #bee3d9;
  text-align: center;
  padding-top: 13px;
}
.date-day {
  font-size: 15px;
  font-weight: normal;
  color: #bee3d9;
  line-height: 30px;
}
.date-day .bold {
  font-weight: bold;
}
